<div class="ui-block-title">
  <span>checkbox</span>
</div>
<div class="clear ui-pd-row-20">
  <div class="ui-wd-6 ui-item default-checkbox">
    <label for="" class="ui-label">Default Checkbox</label>
    <div class="ui-fl">
      <input type="checkbox" name="checkbox1" checked id="rr1">
      <label for="rr1">Beijing</label>
    </div>
    <div class="ui-fl">
      <input type="checkbox" name="checkbox1" id="c2">
      <label for="c2">Shanghai</label>
    </div>
    <div class="ui-fl">
      <input type="checkbox" name="checkbox1" id="c3">
      <label for="c3">Guangzhou</label>
    </div>
    <div class="ui-fl">
      <input type="checkbox" name="checkbox1" id="c4" disabled>
      <label for="c4">Shenzhen</label>
    </div>
  </div>
  <div class="ui-wd-6 ui-item">
    <label for="" class="ui-label">Beautify Checkbox</label>
    <div class="ui-checkbox-box">
      <input type="checkbox" name="checkbox2" checked id="cc1">
      <label for="cc1">Beijing</label>
    </div>
    <div class="ui-checkbox-box">
      <input type="checkbox" name="checkbox2" id="cc2">
      <label for="cc2">Shanghai</label>
    </div>
    <div class="ui-checkbox-box">
      <input type="checkbox" name="checkbox2" id="cc3">
      <label for="cc3">Guangzhou</label>
    </div>
    <div class="ui-checkbox-box">
      <input type="checkbox" name="checkbox2" id="cc4" disabled>
      <label for="cc4">Shenzhen</label>
    </div>
  </div>
  <div class="ui-wd-12 ui-item">
    <label for="" class="ui-label">Other Checkbox</label>
    <div class="ui-checkbox-box success">
      <input type="checkbox" checked id="rrrr1">
      <label for="rrrr1">Beijing</label>
    </div>
    <div class="ui-checkbox-box error">
      <input type="checkbox" checked id="rrrr2">
      <label for="rrrr2">Shanghai</label>
    </div>
    <div class="ui-checkbox-box prompt">
      <input type="checkbox" checked id="rrrr3">
      <label for="rrrr3">Guangzhou</label>
    </div>
    <div class="ui-checkbox-box green">
      <input type="checkbox" checked id="rrrr4">
      <label for="rrrr4">Shenzhen</label>
    </div>
    <div class="ui-checkbox-box blue">
      <input type="checkbox" checked id="rrrr5">
      <label for="rrrr5">Shenzhen</label>
    </div>
  </div>
</div>