<div class="container">
  <div class="ui-table-container">
    <app-block>
      <div class="ui-block-title">
        <span>数据表格</span>
      </div>
      <div class="ui-pd-20">常规表格样式</div>
      <div>
        <table class="ui-table">
          <thead>
            <tr>
              <th>序号</th>
              <th>标题</th>
              <th>描述</th>
              <th>状态</th>
              <th>金额</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-block>
  </div>
  <div class="ui-table-container">
    <app-block>
      <div class="ui-block-title">
        <span>数据表格</span>
      </div>
      <div class="ui-pd-20">
        表格样式: 
        滑到列表显示背景颜色:  
        <span class="ui-bg-success">.ui-talbe[ui-hover]</span>
        是否全边框:  
        <span class="ui-bg-success">.ui-talbe[ui-border]</span>
        文字是否居中:  
        <span class="ui-bg-success">.ui-talbe[ui-align]</span>
      </div>
      <div>
        <table class="ui-table" ui-hover ui-border ui-align>
          <thead>
            <tr>
              <th>序号</th>
              <th>标题</th>
              <th>描述</th>
              <th>状态</th>
              <th>金额</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-block>
  </div>
  <div class="ui-table-container">
    <app-block>
      <div class="ui-block-title">
        <span>状态表格</span>
      </div>
      <div class="ui-pd-20">
        表格列表附有表示状态的背景颜色
        <span class="ui-bg-success">ui-bg-success</span>
        <span class="ui-bg-error">ui-bg-error</span>
        <span class="ui-bg-prompt">ui-bg-prompt</span>
        <span class="ui-bg-green">ui-bg-green</span>
        <span class="ui-bg-blue">ui-bg-blue</span>
      </div>
      <div>
        <table class="ui-table">
          <thead>
            <tr>
              <th>序号</th>
              <th>标题</th>
              <th>描述</th>
              <th>状态</th>
              <th>金额</th>
            </tr>
          </thead>
          <tbody>
            <tr class="ui-bg-success">
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr class="ui-bg-error">
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr class="ui-bg-prompt">
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr class="ui-bg-green">
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr class="ui-bg-blue">
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-block>
  </div>
  <div class="ui-table-container">
    <app-block>
      <div class="ui-block-title">
        <span>背景表格</span>
      </div>
      <div class="ui-pd-20">
        有背景颜色的表格
        <span class="ui-bg-success">ui-bg-success</span>
        <span class="ui-bg-error">ui-bg-error</span>
        <span class="ui-bg-prompt">ui-bg-prompt</span>
        <span class="ui-bg-green">ui-bg-green</span>
        <span class="ui-bg-blue">ui-bg-blue</span>
      </div>
      <div>
        <table class="ui-table ui-bg-success">
          <thead>
            <tr>
              <th>序号</th>
              <th>标题</th>
              <th>描述</th>
              <th>状态</th>
              <th>金额</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-block>
  </div>
</div>