
<div class="ui-block-title">
  <span>Switch</span>
</div>
<div class="clear ui-pd-row-20">
  <div class="ui-switch-box ui-wd-2">
    <input type="checkbox" id="s5">
    <label for="s5" switch-true="开启" switch-false="关闭"></label>
  </div>
  <div class="ui-switch-box success ui-wd-2">
    <input type="checkbox" id="s" checked>
    <label for="s" switch-true="开启" switch-false="关闭"></label>
  </div>
  <div class="ui-switch-box error ui-wd-2">
    <input type="checkbox" id="s1" checked>
    <label for="s1" switch-true="开启" switch-false="关闭"></label>
  </div>
  <div class="ui-switch-box prompt ui-wd-2">
    <input type="checkbox" id="s2" checked>
    <label for="s2" switch-true="开启" switch-false="关闭"></label>
  </div>
  <div class="ui-switch-box green ui-wd-2">
    <input type="checkbox" id="s3" checked>
    <label for="s3" switch-true="开启" switch-false="关闭"></label>
  </div>
  <div class="ui-switch-box blue ui-wd-2">
    <input type="checkbox" id="s4" checked>
    <label for="s4" switch-true="开启" switch-false="关闭"></label>
  </div>
</div>