<div class="container">
  <div>
    <app-block>
      <div class="ui-block-title">
        Buttons
      </div>
      <div class="clear ui-pd-row-10 ui-wd-12">
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn">default</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn raw">ui-btn raw</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn disabled">ui-btn disabled</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn success">ui-btn success</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn error">ui-btn error</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn prompt">ui-btn prompt</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn green">ui-btn green</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn blue">ui-btn blue</a>
        </div>
      </div>
    </app-block>
  </div>
  <div>
    <app-block>
      <div class="ui-block-title">
        Small Buttons
      </div>
      <div class="clear ui-pd-row-10 ui-wd-12">
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn small">default</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn small raw">ui-btn raw</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn small disabled">ui-btn disabled</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn small success">ui-btn success</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn small error">ui-btn error</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn small prompt">ui-btn prompt</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn small green">ui-btn green</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn small blue">ui-btn blue</a>
        </div>
      </div>
    </app-block>
  </div>
  <div>
    <app-block>
      <div class="ui-block-title">
        Super Buttons
      </div>
      <div class="clear ui-pd-row-10 ui-wd-12">
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn super">default</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn super raw">ui-btn raw</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn super disabled">ui-btn disabled</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn super success">ui-btn success</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn super error">ui-btn error</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn super prompt">ui-btn prompt</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn super green">ui-btn green</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn super blue">ui-btn blue</a>
        </div>
      </div>
    </app-block>
  </div>


  <div>
    <app-block>
      <div class="ui-block-title">
        Outline Buttons
      </div>
      <div class="clear ui-pd-row-10 ui-wd-12">
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn outline">default</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn outline raw">ui-btn raw</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn outline success">ui-btn success</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn outline error">ui-btn error</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn outline prompt">ui-btn prompt</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn outline green">ui-btn green</a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn outline blue">ui-btn blue</a>
        </div>
      </div>
    </app-block>
  </div>
  
  <div class="clear">
    <div class="ui-block-title">
      Group Buttons
    </div>
    <div class="clear ui-pd-row-10 ui-wd-12">
      <div class="ui-wd-7 ui-mg-row-10">
        <div class="ui-group-button">
          <a href="javascript:;" class="ui-btn success">ui-btn success</a><!--
          --><a href="javascript:;" class="ui-btn error">ui-btn error</a><!-- 
          --><a href="javascript:;" class="ui-btn prompt">ui-btn prompt</a>
        </div>
      </div>
      <div class="ui-wd-5 ui-mg-row-10">
        <div class="ui-group-button">
          <a href="javascript:;" class="ui-btn outline success">ui-btn success</a><!--
          --><a href="javascript:;" class="ui-btn outline success">ui-btn error</a><!-- 
          --><a href="javascript:;" class="ui-btn outline success">ui-btn prompt</a>
        </div>
      </div>
    </div>
  </div>
  
  <div>
    <app-block>
      <div class="ui-block-title">
        Icons Buttons
      </div>
      <div class="clear ui-pd-row-10 ui-wd-12">
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn icon"><i class="icon-delete"></i></a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn icon outline raw"><i class="icon-edit"></i></a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn icon disabled"><i class="icon-email"></i></a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn small icon success"><i class="icon-email"></i></a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn small outline icon error"><i class="icon-email"></i></a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn small icon prompt"><i class="icon-email"></i></a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn super icon green"><i class="icon-email"></i></a>
        </div>
        <div class="ui-fl ui-mg-10">
          <a href="javascript:;" class="ui-btn super icon blue"><i class="icon-email"></i></a>
        </div>
      </div>
    </app-block>
  </div>



</div>

