<div class="ui-nav">
  <ul>
    <li *ngFor="let item of navItems; let i = index" [class.active]="i == hasFocus" [style.height]="i == hasFocus && item.list ? ((item.list.length + 1) * 45) + 'px' : '45px'">
      <a href="javascript: ;" [class.ui-has-sub]="item.list" (click)="clickNav(i)">
        <i class="icon-qrcode"></i>
        <span>{{item.title}}</span>
      </a>
      <ol *ngIf="item.list">
        <li *ngFor="let list of item.list; let j = index;">
          <a href="javascript:;" [routerLink]="[list.url]" (click)="listFocus(list.url)" [class.active]="childFocus == list.url">{{list.title}}</a>
        </li>
      </ol>
    </li>
  </ul>
</div>