<div class="ui-block-title">
  <span>Textarea Elements</span>
</div>
<div class="clear ui-pd-row-20"> 
  <div class="ui-wd-4 ui-item">
    <div class="ui-relative">
      <label for="" class="ui-label">Basic Textarea</label>
      <textarea class="ui-textarea"></textarea>
    </div>
  </div>
  <div class="ui-wd-4 ui-item">
    <div class="ui-relative">
      <label for="" class="ui-label">Not Resize Textarea</label>
      <textarea class="ui-textarea" resize></textarea>
    </div>
  </div>
  <div class="ui-wd-4 ui-item">
    <div class="ui-relative">
      <label for="" class="ui-label">Readonly select</label>
      <textarea class="ui-textarea" readonly resize></textarea>
    </div>
  </div>
</div>