<div class="ui-block-title">
  <span>Radio</span>
</div>
<div class="clear ui-pd-row-20">
  <div class="ui-wd-6 ui-item default-radio">
    <label for="" class="ui-label">Default Radio</label>
    <div class="ui-fl">
      <input type="radio" name="radio1" checked id="r1">
      <label for="r1">Beijing</label>
    </div>
    <div class="ui-fl">
      <input type="radio" name="radio1" id="r2">
      <label for="r2">Shanghai</label>
    </div>
    <div class="ui-fl">
      <input type="radio" name="radio1" id="r3">
      <label for="r3">Guangzhou</label>
    </div>
    <div class="ui-fl">
      <input type="radio" name="radio1" id="r4" disabled>
      <label for="r4">Shenzhen</label>
    </div>
  </div>
  <div class="ui-wd-6 ui-item">
    <label for="" class="ui-label">Beautify Radio</label>
    <div class="ui-radio-box">
      <input type="radio" name="radio2" checked id="rr1">
      <label for="rr1">Beijing</label>
    </div>
    <div class="ui-radio-box">
      <input type="radio" name="radio2" id="rr2">
      <label for="rr2">Shanghai</label>
    </div>
    <div class="ui-radio-box">
      <input type="radio" name="radio2" id="rr3">
      <label for="rr3">Guangzhou</label>
    </div>
    <div class="ui-radio-box">
      <input type="radio" name="radio2" id="rr4" disabled>
      <label for="rr4">Shenzhen</label>
    </div>
  </div>
  <div class="ui-wd-12 ui-item">
    <label for="" class="ui-label">Other Radio</label>
    <div class="ui-radio-box success">
      <input type="radio" checked id="rrr1">
      <label for="rrr1">Beijing</label>
    </div>
    <div class="ui-radio-box error">
      <input type="radio" checked id="rrr2">
      <label for="rrr2">Shanghai</label>
    </div>
    <div class="ui-radio-box prompt">
      <input type="radio" checked id="rrr3">
      <label for="rrr3">Guangzhou</label>
    </div>
    <div class="ui-radio-box green">
      <input type="radio" checked id="rrr4">
      <label for="rrr4">Shenzhen</label>
    </div>
    <div class="ui-radio-box blue">
      <input type="radio" checked id="rrr5">
      <label for="rrr5">Shenzhen</label>
    </div>
  </div>
</div>