
<div class="ui-block-title">
  <span>Select Elements</span>
</div>
<div class="clear ui-pd-row-20">
  <div class="ui-wd-4 ui-item">
    <div class="ui-relative">
      <label for="" class="ui-label">Basic Select</label>
      <select class="ui-select">
        <option value="">北京</option>
        <option value="">上海</option>
        <option value="">广州</option>
        <option value="">深圳</option>
      </select>
    </div>
  </div>
  <div class="ui-wd-4 ui-item">
    <div class="ui-relative">
      <label for="" class="ui-label">Icon Select</label>
      <select class="ui-select xiala">
        <option value="">北京</option>
        <option value="">上海</option>
        <option value="">广州</option>
        <option value="">深圳</option>
      </select>
      <i class="icon-xiala"></i>
    </div>
  </div>
  <div class="ui-wd-4 ui-item">
    <div class="ui-relative">
      <label for="" class="ui-label">Multiple select</label>
      <select class="ui-select" multiple="multiple">
        <option value="">北京</option>
        <option value="">上海</option>
        <option value="">广州</option>
        <option value="">深圳</option>
      </select>
    </div>
  </div>
</div>