<div class="ui-welcome-title">
  <ul>
    <li class="ui-wd-3">
      <a href="javascript:;">
        <i class="icon-survey"></i>标题
      </a>
    </li>
    <li class="ui-wd-3">
      <a href="javascript:;">
        <i class="icon-favorite"></i>
        标题
      </a>
    </li>
    <li class="ui-wd-3">
      <a href="javascript:;">
        <i class="icon-set"></i>
        标题
      </a>
    </li>
    <li class="ui-wd-3">
      <a href="javascript:;">
        <i class="icon-all"></i>
        标题
    </a>
    </li>
  </ul>
</div>