<div class="container">
  <div class="ui-form">
    <app-block>
      <div class="ui-block-title">
        <span>Input Elements</span>
      </div>
      <div class="clear ui-pd-row-20">
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Basic Input</label>
            <input type="text" class="ui-input">
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Input with Placeholder</label>
            <input type="text" class="ui-input" placeholder="Enter address">
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Square Input</label>
            <input type="text" class="ui-input square">
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Readonly Input</label>
            <input type="text" class="ui-input" readonly value="this's address">
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Disabled Input</label>
            <input type="text" class="ui-input" disabled value="this's address">
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Static Text</label>
            <input type="text" class="ui-input static" readonly value="this's static input">
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Rounded Input</label>
            <input type="text" class="ui-input rounded">
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">With Helper Text</label>
            <input type="text" class="ui-input">
            <small class="ui-small">这里是一个提示内容</small>
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">
              Input text with help
              <small>这里是一个提示内容</small>
            </label>
            <input type="text" class="ui-input">
          </div>
        </div>
      </div>
    </app-block>
  </div>
  <div class="ui-form">
    <app-block>
      <div class="ui-block-title">
        <span>Select Elements</span>
      </div>
      <div class="clear ui-pd-row-20">
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Basic Select</label>
            <select class="ui-select">
              <option value="">北京</option>
              <option value="">上海</option>
              <option value="">广州</option>
              <option value="">深圳</option>
            </select>
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Icon Select</label>
            <select class="ui-select xiala">
              <option value="">北京</option>
              <option value="">上海</option>
              <option value="">广州</option>
              <option value="">深圳</option>
            </select>
            <i class="icon-xiala"></i>
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Multiple select</label>
            <select class="ui-select" multiple="multiple">
              <option value="">北京</option>
              <option value="">上海</option>
              <option value="">广州</option>
              <option value="">深圳</option>
            </select>
          </div>
        </div>
      </div>
    </app-block>
  </div>
  <div class="ui-form">
    <app-block>
      <div class="ui-block-title">
        <span>Select Elements</span>
      </div>
      <div class="clear ui-pd-row-20">
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Basic Textarea</label>
            <textarea class="ui-textarea"></textarea>
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Not Resize Textarea</label>
            <textarea class="ui-textarea" resize></textarea>
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Readonly select</label>
            <textarea class="ui-textarea" readonly resize></textarea>
          </div>
        </div>
      </div>
    </app-block>
  </div>

  <div class="ui-form">
    <app-block [readonly]="true">
      <div class="ui-block-title">
        <span>File Input</span>
      </div>
      <div class="clear ui-pd-row-20">
        <div class="ui-wd-12 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Basic Textarea</label>
            <label class="ui-file">
              <span>File Input</span>
              <input type="file" class="ui-file-input" multiple>
              <a href="javascript:;">选择</a>
            </label>
          </div>
        </div>
      </div>
    </app-block>
  </div>
</div>