<div class="container">
  <div class="ui-form">
    <app-block>
      <app-input></app-input>
    </app-block>
  </div>
  <div class="ui-form">
    <app-block>
      <app-select></app-select>
    </app-block>
  </div>
  <div class="ui-form">
    <app-block>
      <app-textarea></app-textarea>
    </app-block>
  </div>

  <div class="ui-form">
    <app-block [readonly]="true">
      <div class="ui-block-title">
        <span>File Input</span>
      </div>
      <div class="clear ui-pd-row-20">
        <div class="ui-wd-12 ui-item">
          <div class="ui-relative">
            <label for="" class="ui-label">Basic Textarea</label>
            <label class="ui-file">
              <span>File Input</span>
              <input type="file" class="ui-file-input" multiple>
              <p>选择</p>
            </label>
          </div>
        </div>
      </div>
    </app-block>
  </div>

  <div class="ui-form">
    <app-block>
      <div class="ui-block-title">
        <span>Icon Form</span>
      </div>
      <div class="clear ui-pd-row-20">
        <div class="ui-wd-4 ui-item">
          <label for="" class="ui-label">Icon Input Left</label>
          <div class="ui-relative">
            <input type="text" class="ui-input" icon="left">
            <i class="icon-account"></i>
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <label for="" class="ui-label">Icon Input Right</label>
          <div class="ui-relative">
            <input type="text" class="ui-input" icon="right">
            <i class="icon-calendar"></i>
          </div>
        </div>
        <div class="ui-wd-4 ui-item">
          <label for="" class="ui-label">Icon Rounded Input Right</label>
          <div class="ui-relative">
            <input type="text" class="ui-input rounded" icon="right">
            <i class="icon-calendar"></i>
          </div>
        </div>
      </div>
    </app-block>
  </div>

  <div class="ui-form">
    <app-block>
      <app-radio></app-radio>
    </app-block>
  </div>
  <div class="ui-form">
    <app-block>
      <app-checkbox></app-checkbox>
    </app-block>
  </div>
  <div class="ui-form">
    <app-block>
      <app-switch></app-switch>
    </app-block>
  </div>
</div>