/* 全局变量 */
@import 'scss/global.scss';

/* 重置 */
@import 'scss/reset.scss';

/* 图标 */
@import 'scss/iconfont.scss';

/* 方法 */
@import 'scss/mixins.scss';

/* 公用 */
@import 'scss/base.scss';

/* 按钮 */
@import 'scss/buttons.scss';

/* 表单 */
@import 'scss/form.scss';

/* 表格 */
@import 'scss/table.scss';

/* 引用块 */
@import 'scss/quote.scss';

/* 字体颜色与背景 */
@import 'scss/colors.scss';

/* 标题 */
@import 'scss/title.scss';

/* 列表页 */
@import 'scss/list.scss';

html,
body{
  height: 100%;
  overflow: hidden;
}
.loading{
  width: 100%;
  height: 100%;
  line-height: 500px;
  text-align: center;
  background: #fff;
  padding-top: 200px;
  position: fixed;
  top: 0;
  left: 0;
}