/* 全局变量 */
@import 'scss/global.scss';

/* 重置 */
@import 'scss/reset.scss';

/* 图标 */
@import 'scss/iconfont.scss';

/* 方法 */
@import 'scss/mixins.scss';

/* 公用 */
@import 'scss/base.scss';

/* 按钮 */
@import 'scss/buttons.scss';

/* 表单 */
@import 'scss/form.scss';

/* 表格 */
@import 'scss/table.scss';

/* 引用块 */
@import 'scss/quote.scss';

/* 字体颜色与背景 */
@import 'scss/colors.scss';

html,
body{
  height: 100%;
  overflow: hidden;
}
.loading{
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 200px;
  position: fixed;
  top: 0;
  left: 0;
  & > img{
    display: inline-block;
    width: 50%;
    max-width: 658px;
  }
}