@import 'global.scss';
@import 'mixins.scss';

$smallHeight: 32px;
$superHeight: 22px;

.ui-btn{
  display: inline-block;
  height: $defaultHeight;
  padding: 0 20px;
  color: #fff;
  font-size: 14px;
  line-height: $defaultHeight;
  border-radius: 3px;
  background: $themeBlue;
  @include transition(all .25s);
	&:active{
		@include box-shadow(inset 0 5px 8px rgba(0,0,0,.25));
	}
  &:hover{
    background: lighten($themeBlue, 8%);
  }
  &.disabled{
    cursor: not-allowed;
    color: #c9c9c9 !important;
    background-color: #fbfbfb !important;
    border: solid 1px #e6e6e6 !important;
    &:active{
      @include box-shadow(none);
		}
  }
  &.icon{
    padding: 0 !important;
    text-align: center;
    min-width: $defaultHeight;
  }

  &.small{
    height: $smallHeight;
    line-height: $smallHeight;
    padding: 0 12px;
    &.icon{
      min-width: $smallHeight;
    }
  }
  &.super{
    height: $superHeight;
    font-size: 12px;
    line-height: $superHeight;
    padding: 0 5px;
    &.icon{
      min-width: $superHeight;
      i{
        font-size: inherit;
      }
    }
  }


  &.raw{
    color: $fontColor;
    border: solid 1px $borderColor; 
    background-color: #fcfcfc;
    &:hover{
      background-color: #efefef;
    }
  }
  &.success{
    border-color: $statusColor1; 
    background-color: $statusColor1;
    &:hover{
      background: darken($statusColor1, 6%);
    }
  }
  &.error{
    border-color: $statusColor3; 
    background-color: $statusColor3;
    &:hover{
      background: darken($statusColor3, 8%);
    }
  }
  &.prompt{
    border-color: $statusColor4; 
    background-color: $statusColor4;
    &:hover{
      background: darken($statusColor4, 10%);
    }
  }
  &.green{
    border-color: $statusColor5; 
    background-color: $statusColor5;
    &:hover{
      background: darken($statusColor5, 10%);
    }
  }
  &.blue{
    border-color: $statusColor2; 
    background-color: $statusColor2;
    &:hover{
      background: darken($statusColor2, 10%);
    }
  }

  &.outline{
    color: $themeBlue;
    border: solid 1px $themeBlue;
    background: none;
    &:hover{
      color: #fff !important;
      background: $themeBlue;
    }
    &.raw{
      color: #626E82;
      border: solid 1px #626E82;
      &:hover{
        background-color: #626E82;;
      }
    }
    &.success{
      color: $statusColor1;
      border-color: $statusColor1;
      &:hover{
        background: $statusColor1;
      }
    }
    &.error{
      color: $statusColor3;
      border-color: $statusColor3;
      &:hover{
        background: $statusColor3;
      }
    }
    &.prompt{
      color: $statusColor4;
      border-color: $statusColor4;
      &:hover{
        background: $statusColor4;
      }
    }
    &.green{
      color: $statusColor5;
      border-color: $statusColor5;
      &:hover{
        background: $statusColor5;
      }
    }
    &.blue{
      color: $statusColor2;
      border-color: $statusColor2;
      &:hover{
        background: $statusColor2;
      }
    }
  }

}

.ui-group-button{
  & > .ui-btn{
    border-radius: 0;
  }
  & > .ui-btn:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  & > .ui-btn:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  & > .ui-btn.outline:not(:first-child){
    margin-left: -1px;
  }
}