
/* 架构大小 */
$headerHeight: 56px;          // header 高度
$navWidth: 240px;             // nav 宽度
$footerHeight: 30px;          // footer 高度
$containerBg: #f6f7fb;      // 内容区域背景颜色

/* 字体颜色 */
$fontColor: #404e67;

$colorMain: #00b5b8;
$colorError: #ff7588;
$themeBlue: #307efa;         // 主题蓝色

/* 屏幕大小 */
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1366px;

/* 状态颜色 */
$statusColor1: #00b5b8;
$statusColor2: #2dcee3;
$statusColor3: #ff7588;
$statusColor4: #ffa87d;
$statusColor5: #16d39a;


$borderColor: #babfc7;
$defaultHeight: 40px;