
$headerHeight: 57px;          // header 高度
$navWidth: 240px;             // nav 宽度
$containerBg: #f6f7fb;      // 内容区域背景颜色

$colorMain: #00b5b8;
$colorError: #ff7588;
$themeBlue: #307efa;         // 主题蓝色

