@import 'src/scss/global.scss';
@import 'src/scss/mixins.scss';

$borderColor: #e3ebf3;
.ui-table{
  width: 100%;
  thead{
    tr{
      border-top: solid 1px $borderColor;
      border-bottom: solid 2px $borderColor;
    }
    th{
      font-size: 15px;
      font-weight: bold;
      text-align: inherit;
    }
  }
  tbody{
    tr{
      border-bottom: solid 1px $borderColor;
      @include transition(all .2s);
    }
  }
  th,
  td{
    padding: 10px 20px;
  }

  &[ui-hover] tbody tr:hover{
    background: #f0f5fa;
  }
  &[ui-border]{
    border: solid 1px $borderColor;
    td,
    th{
      border-right:  solid 1px $borderColor;
    }
  }
  &[ui-align]{
    text-align: center;
  }
  &[ui-align="right"]{
    text-align: right;
  }
}




.ui-block-loading{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 2555, .6);
  position: absolute;
  top: 0;
  left: 0;
  cursor: progress;
  @include transition(all .25s);
  opacity: 0;
  visibility: hidden;
  &.active{
    opacity: 1;
    visibility: visible;
  }
  i{
    width: 30px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -15px;
    transform-origin: 14px 15px;
    @include animation(rotate 1s linear infinite);
  }
}
@keyframes rotate{
  0%  {transform: none;}
  100%{transform: rotate(360deg)}
}
@-webkit-keyframes rotate{
  0%  {-webkit-transform: none;}
  100%{-webkit-transform: rotate(360deg)}
}