@import 'src/scss/global.scss';
@import 'src/scss/mixins.scss';

$borderColor: #e3ebf3;
.ui-table{
  width: 100%;
  thead{
    tr{
      border-top: solid 1px $borderColor;
      border-bottom: solid 2px $borderColor;
    }
    th{
      font-size: 15px;
      font-weight: bold;
      text-align: inherit;
    }
  }
  tbody{
    tr{
      border-bottom: solid 1px $borderColor;
      @include transition(all .2s);
    }
  }
  th,
  td{
    padding: 10px 20px;
  }

  &[ui-hover] tbody tr:hover{
    background: #f0f5fa;
  }
  &[ui-border]{
    border: solid 1px $borderColor;
    td,
    th{
      border-right:  solid 1px $borderColor;
    }
  }
  &[ui-align]{
    text-align: center;
  }
  &[ui-align="right"]{
    text-align: right;
  }
}